@font-face {
  font-family: 'Verifont';
  src:
    local('Verifont'),
    local('Verifont'),
    url(./font/veri.otf) format('opentype');
}
body {
  font-family: 'Verifont'
}
.roulette {
  font-family: 'Verifont';
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: rgb(249, 234, 198); */
  /* background-color: black; */
  
  height: 100%;
  width: 100%;
  background-color: black; /*For browsers that do not support gradients*/
  /* background-image: radial-gradient(circle,red,white, black,black, black, black); /*Standard syntax (must be last)*/
  background-image: linear-gradient(black, black, black, white);
  /* height: 120rem;
  width: 100%; */
}
.roulette-container {
  font-family: 'Verifont';
  display: flex;
  justify-content: center;
  align-self: center;
} 
.background {
  font-family: 'Verifont';
}
h1 {
  color: #CE614A;
  align-self: center;
  width: 40%;
  text-align: center;
}
  